html
    head
        include ./head.pug
        block title_block   
            title Tere
        block head_block
    body
        include ./navbar.pug
        block content



        block body_block
        include ./footer.pug
        block footer_block
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.jsnpm")
        script(src="/js/boostrap.min")
        script(src="https://kit.fontawesome.com/0c42fed630.js")
        



