extends ./layouts/standar.pug

block content

  <div class="container-fluid fom">
    <form action="">
      <div class="row">
        <div class="col-md-4 form-group">
          <label for="">Nombre Area</label>
        </div>
        <div class="col-md-8 form-group">
          <input type="text" class="form-control" name="area" id="area" placeholder="Area" required="true">
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 form-group">
          <label for="">Apellido Paterno del Responsable</label>
        </div>
        <div class="col-md-8 form-group">
          <input type="text" class="form-control" name="apepat" id="apepat" placeholder="Apellido Paterno" required="true">
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 form-group">
          <label for="">Apellido Materno del Responsable</label>
        </div>
        <div class="col-md-8 form-group">
          <input type="text" class="form-control" name="apemat" id="apemat" placeholder="Apellido Materno" required="true">
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 form-group">
          <label for="">Nombre del Responsable</label>
        </div>
        <div class="col-md-8 form-group">
          <input type="text" class="form-control" name="nombre" id="nombre" placeholder="Nombre">
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 form-group">
          <label for="">Proceso</label>
        </div>
        <div class="col-md-8 form-group">
          <select class="form-control" name="proceso" id="proceso">
            <option value="Credenciales">Credenciales</option>
            <option value="Contratos">Contratos</option>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="col-md-2 form-group">
          <label for="">Telefono</label>
        </div>
        <div class="col-md-4 form-group">
          <input type="number" class="form-control" name="telefono" id="telefono" placeholder="Telefono" required>
        </div>
        <div class="col-md-2 form-group">
          <label for="">Correo</label>
        </div>
        <div class="col-md-4 form-group">
          <input type="email" class="form-control" name="correo" id="correo" placeholder="correo@dominio.com" required>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 form-group">
        </div>
        <div class="col-md-3 form-group">
          <button type="button" class="btn btn-info">Limpiar</button>
        </div>
        <div class="col-md-3 form-group">
          <button class="btn btn-info">Guardar</button>
        </div>
      </div>
    </form>
  </div>
