
<!DOCTYPE html>
<html lang="es">
<head>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="./css/styles2.css"> 
    <script src="https://kit.fontawesome.com/0c42fed630.js"></script>
    <title>Area</title>
</head>
<div class="container-fluid fom">
  <form action="">
    <div class="row">
      <div class="col-md-4 form-group">
        <label for="">Nombre</label>
      </div>
      <div class="col-md-8 form-group">
        <input type="text" class="form-control" name="proceso" id="proceso" placeholder="Proceso"  required >
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 form-group">
        <label for="">Descripcion</label>
      </div>
      <div class="col-md-8 form-group">
        <textarea class="form-control rounded-0" id="descripcion" rows="10" required></textarea>
      </div>
    </div>
    
    <div class="row">
      <div class="col-md-6 form-group">        
      </div>
      <div class="col-md-3 form-group">
        <button type="button" class="btn btn-info">Limpiar</button>
      </div>
      <div class="col-md-3 form-group">
          <button class="btn btn-info">Guardar</button>
      </div>
    </div>
  </form>
</div>