<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sistema de Pendientes</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="./css/styles.css">
</head>
<body>

<div class="container-fluid">
  <div class="row contenedor">
    <div class="img">
      <img class="img2"src="./images/salud.png" alt="" height="70px">
    </div>
    <div class="img">
        <img class="img2" src="./images/hgo.png" alt="" height="80px">
    </div>
    <div class="img">
        <img class="img2" src="./images/escudo.png" alt="" height="80px">
    </div>
  </div>
</div>

<div class="wrapper fadeInDown">
  <p>PENDIENTES</p>
  <div id="formContent">
    <br> 
    <form>
      <input type="text" id="login" class="fadeIn second" name="login" placeholder="USUARIO" required="true">
      <input type="text" id="password" class="fadeIn third" name="login" placeholder="CONTRASEÑA" required="true">
      <input type="submit" class="fadeIn fourth" value="ACCESAR">
    </form>
    <br>
  </div>
</div>
</body>
</html>

     






