body{
    background-color:#f6f6f6;
}
.fom{
	background-color: lightsteelblue;
	width: 90%;
    height:80%;
	border-radius: 10px 10px 10px 10px;
	padding-top: 30px;
	padding-bottom: 30px;
}


table{
	width:90%;
	
}
td form {
	margin:0;padding:0;
}
td form button.button{
	padding:0.25em;margin:0.25em;
	background:none;
	color:blue;
}
td form button.button:hover{
  background:none;
	color:steelblue;
}

footer{
	background-color:steelblue;
	margin-top: 20px;
	text-align: center;
	color: white;
}
.centrar{
	padding-top: 10px;
}
.centrar2{
	padding-top: 20px;
	padding-left: 40px;
}
.tabla {
	background-color: aliceblue;
}

.has-search .form-control {
    padding-right: 2.375rem;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}
.navstyles {
	background-color: aquamarine;
}

.navbar-right  li a:hover {
color: lightskyblue !important;
}
#logo{
	width: 30px;
	height: 30px;
	margin-top: 3px;
}

.text-md-left {
	background-color: darkcyan;
	color: #f6f6f6;
}
.py-3{
	background-color: greenyellow;
	color: blue;
	margin-bottom: 50px;
}

#cardForm {
	border-radius: 10px 10px 10px 10px;
-moz-border-radius: 10px 10px 10px 10px;
-webkit-border-radius: 10px 10px 10px 10px;
border: 0px solid #000000;
-webkit-box-shadow: 10px 10px 39px -11px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 39px -11px rgba(0,0,0,0.75);
box-shadow: 10px 10px 39px -11px rgba(0,0,0,0.75);
text-align: center;

}

#btnForm{
	border-radius: 56px 56px 56px 56px;
-moz-border-radius: 56px 56px 56px 56px;
-webkit-border-radius: 56px 56px 56px 56px;
border: 0px solid #000000;
background: -webkit-linear-gradient(left, rgba(183,222,237,1) 0%, rgba(113,206,239,1) 50%, rgba(33,180,226,1) 51%, rgba(183,222,237,1) 100%);
color:white;
}
#btnForm:hover {
	-webkit-box-shadow: 2px 23px 30px -6px rgba(0,0,0,0.62);
-moz-box-shadow: 2px 23px 30px -6px rgba(0,0,0,0.62);
box-shadow: 2px 23px 30px -6px rgba(0,0,0,0.62);
background: -webkit-linear-gradient(left, rgba(183,222,237,1) 0%, rgba(113,206,239,1) 27%, rgba(33,180,226,1) 88%, rgba(183,222,237,1) 100%);
}
